{% extends 'base.html' %}

{% block content %}
    <div class="hero-body" style="align-items: flex-start">
        <div class="container">
            <h1 style="display:none;">{% block title %} Absensi Karyawan {% endblock %}</h1>
            <div>
                <div class="box" style="min-height: 400px">
                    <div style="display: flex; justify-content: space-between; margin-bottom: 16px">
                        <div>
                            <label style="padding-right: 10px">
                                <input type="month" onchange="changeMonth(event, value, 'absen')" style="padding: 4px 14px;outline: #209cee auto;border-radius: 50px;font-size: 1rem;"
                                    value="{{ val }}"/>
                            </label>
                            <button class="button is-info" style="margin-right: 0.5rem;border-radius: 50px; padding: 0 14px" onclick="filterAll(event, 'absen')">All</button>
                        </div>
                        <div>
                            <a href="{{ url_for('izin') }}" style="margin-left: 0.5rem">
                                <button class="button is-info">Izin</button>
                            </a>
                            <a href="{{ url_for('kegiatan') }}" style="margin-left: 0.5rem">
                                <button class="button is-info">Kegiatan</button>
                            </a>
                            <a href="{{ url_for('lembur') }}" style="margin-left: 0.5rem">
                                <button class="button is-info">Lembur</button>
                            </a>
                            <a href="{{ url_for('rekap') }}" style="margin-left: 0.5rem">
                                <button class="button is-info">Rekap Data Absen</button>
                            </a>
                        </div>
                    </div>
                    <div style="margin:10px 0;display: flex; align-items: center; justify-content: center">
                        <table class="table is-bordered is-striped">
                            <thead>
                              <tr>
                                  <th colspan="12">Data Absensi {{ month }}</th>
                              </tr>
                              <tr>
                                <th>No.</th>
                                <th>Tanggal</th>
                                <th>NIK</th>
                                <th>Nama</th>
                                <th>Posisi</th>
                                <th>Jabatan</th>
                                <th>Jam Masuk</th>
                                <th>Foto Masuk</th>
                                <th>Lokasi Masuk</th>
                                <th>Jam Pulang</th>
                                <th>Foto Pulang</th>
                                <th>Lokasi Pulang</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for x in absen %}
                                  <tr>
                                    <td>{{ x['rownum'] }}</td>
                                    <td>{{ x['date_in'] }}</td>
                                    <td>{{ x['nik'] }}</td>
                                    <td title="{{ x['name'] }}">{{ x['name'] }}</td>
                                    <td title="{{ x['posisi'] }}">{{ x['posisi'] }}</td>
                                    <td title="{{ x['jabatan'] }}">{{ x['jabatan'] }}</td>
                                    <td>{{ x['time_in'] }}</td>
                                    <td>
                                        <img src="{{ x['url_photo_in'] }}" alt="{{ x['name'] }}" style="width:60px;height:60px;">
                                    </td>
                                    <td title="{{ x['location_in'] }}" class="custom-td">{{ x['location_in'] }}</td>
                                    <td>{{ x['time_out'] }}</td>
                                    <td>
                                        {% if x['url_photo_out'] %}
                                            <img src="{{ x['url_photo_out'] }}" alt="{{ x['name'] }}" style="width:60px;height:60px;">
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td title="{{ x['location_out'] }}" class="custom-td">{{ x['location_out'] }}</td>
                                  </tr>
                                  {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}