{% extends 'base.html' %}

{% block content %}

    <div class="hero-body" style="align-items: flex-start">
        <div class="container">
            <div>
                <div class="box">
                    <h1 style="display: flex;margin-bottom: .75rem;font-size: 28px;font-weight: 800;align-items: center;justify-content: center;">{% block title %} Add Karyawan {% endblock %}</h1>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification is-danger">
                            <button class="delete" onclick="this.parentElement.style.display='none'"></button>
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                    {% endwith %}
                    <form method="POST" style="padding-right: 125px">

                        <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label">NIK:</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <div class="control">
                                <input class="input" name="nik" type="number" placeholder="NIK" value="{{ kar.nik }}" required>
                              </div>
                            </div>
                          </div>
                        </div>

                        {% if kar.id %}
                            <input class="input"  name="id" type="hidden" placeholder="NIK" value="{{ kar.id }}" required>
                        {% endif %}

                        <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label">Nama:</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <div class="control">
                                <input class="input" name="name" type="text" placeholder="Nama" value="{{ kar.name }}" required>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label">Jabatan:</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <div class="control">
                                <input class="input" name="jabatan" type="text" placeholder="Jabatan" value="{{ kar.jabatan }}" required>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label">Username:</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <div class="control">
                                <input class="input" name="username" type="text" placeholder="Username" value="{{ kar.username }}" required>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label">Password:</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <div class="control">
                                <input class="input" type="password" name="password" placeholder="Password" value="{{ kar.password }}" required>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="field is-grouped is-grouped-right">
                          <p class="control">
                            <button type="submit" class="button is-primary is-rounded">
                              Save
                            </button>
                          </p>
                          <p class="control">
                            <a class="button is-light is-rounded" href="{{ url_for('karyawan') }}">
                              Cancel
                            </a>
                          </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}