{% extends 'base.html' %}

{% block content %}
    <div class="hero-body" style="align-items: flex-start">
        <div class="container">
            <div class="column is-8 is-offset-2">
                <div class="box" style="min-height: 400px">
                    <h1 style="display:none;">{% block title %} Rekap Data Absen{% endblock %}</h1>
                    <div style="display: flex; justify-content: space-between; margin-bottom: 16px">
                        <a href="{{ url_for('absen') }}">
                            <button class="button is-info">Kembali</button>
                        </a>
                        <div>
                            {#{% if month != 'Bulan Ini' %}
                            <button class="button is-info is-outlined" style="margin-right: 0.5rem;border-radius: 50px" onclick="resetMonth(event)">Reset</button>
                            {% endif %}#}
                            <a href="{{ url_for('download_pdf', data=rekap, title=month) }}">
                                <button class="button is-info">Report</button>
                            </a>
                            <button class="button is-info" style="margin-right: 0.5rem;border-radius: 50px; padding: 0 14px" onclick="filterAll(event, 'rekap')">All</button>
                            <label style="padding-right: 10px">
                                <input type="month" onchange="changeMonth(event, value, 'rekap')" style="padding: 4px 14px;outline: #209cee auto;border-radius: 50px;font-size: 1rem;"
                                    value="{{ val }}"/>
                            </label>
                        </div>
                    </div>
                    <div style="margin:10px 0;display: flex; align-items: center; justify-content: center">
                        <table class="table is-bordered is-striped">
                            <thead>
                                <tr>
                                    <th colspan="10">Rekap Data Absensi {{ month }}</th>
                                </tr>
                                <tr>
                                    <th>No.</th>
                                    <th>NIK</th>
                                    <th>Nama</th>
                                    <th>Total Absen Masuk</th>
                                    <th>Total Absen Pulang</th>
                                    <th>Total Izin</th>
                                    <th>Total Lembur</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in rekap %}
                                    <tr>
                                        <td>{{ x['rownum'] }}</td>
                                        <td>{{ x['nik'] }}</td>
                                        <td>{{ x['name'] }}</td>
                                        <td>{{ x['total_absen_masuk'] }}</td>
                                        <td>{{ x['total_absen_pulang'] }}</td>
                                        <td>{{ x['total_izin'] }}</td>
                                        <td>{{ x['total_lembur'] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}